/***********************************
****************CARDS***************
***********************************/

.cards-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

article.card{
	height:14em;
	width: 22em;
	border-radius: .5em;
	margin: 1em;
	position: relative;
	border: 1px black solid;
}

article.card p.discover {
	display: none;
}

article.card:hover{
    color: white;
}

article.card:hover .discover{
	display: block;
	text-align: center;
	color: white;
	font-size: 3rem;
}

article.card h1{
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
}

article img.card-img {
	position: absolute;
	z-index: -1;
	top: 0%;
	height: 100%;
	object-fit: cover;
}

article.card:hover {
	background-color: #00000080;
}


