/***********************************
*************COURSES FORM***********
***********************************/


.course-question-add {
	margin: 1em auto;
}

.question-div {
	position :relative;
	margin-top: 1em;
	padding: 2em;
	border-radius: .5em;
	background-color: #3B87FB50;
}

#select-question{
	margin-top: 2em;
}

#course-name {
	width: 100%;
	margin-bottom: 1em;
}

.remove-question{
	position: absolute;
	top:0;
	right:0;
	margin-top:-.5em;
	margin-right: -.5em;
	height:2em;
	width:2em;
	border-radius: 50%;
	background-color: black;
	cursor: pointer;
}

.remove-question i{
	margin-left: 26%;
    color: white;
    margin-top: 23%;
}

.order-question{
	position: absolute;
	top:0%;
	left:0;
}

#order-question {
	margin-top:-.5em;
	margin-left:-.5em;
}

/***********************************
**************INPUT FILE************
***********************************/

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: black;
    display: inline-block;
    padding: 1em;
    background-color: #90EE90;
    width: 100%;
    border-radius: .5em;
}

.inputfile + label i{
	margin-right:.5em;
	margin-left:1em;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #90EE9090;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.add-picture {
	margin-top:1em;
}

/***********************************
*************COURSES TABLE**********
***********************************/

table.course-table tbody tr td:nth-of-type(3), table.course-table tbody tr td:nth-of-type(5){
	text-align: center;
}